.themes {
  display: 'flex';
  justify-content: 'space-evenly'
}

html {
  background: darkblue;
  color: yellow;
  font-size: large;
  font-weight: normal
}

.correct {
  font-weight: bolder;
  color: rgb(0, 255, 0)
}

.not-correct {
  font-weight: bolder;
  color: red
}

.link {
  cursor: pointer;
}

.color {
  color: yellow;
  font-weight: bold;
}
